<main>
    <div class="card">
        <img src="../../../assets/imagen1.jpg" alt="" rel="reload" as="image">
        <div class="card-content">
            <p>
                Desarrollador de software con experiencia en backend, frontend y desarrollo full stack, buscando una
                posición desafiante para utilizar mis habilidades y contribuir a proyectos innovadores. Capacidad
                demostrada para entregar código de alta calidad, resolver problemas técnicos y colaborar eficazmente con
                otros miembros del equipo para alcanzar los objetivos del proyecto. Listo para asumir nuevos retos e
                impulsar el éxito.
            </p>

        </div>
    </div>
</main>