<div class="wrap animate pop" [routerLink]="['/character-details', character?.id]" >
    <a ></a> 
    <div class="overlay">
        <div class="overlay-content animate slide-left delay-2">
            <h1 class="animate slide-left pop delay-4">{{ character?.gender }}</h1>
            <h1 class="animate slide-left pop delay-4">{{ character?.species }}</h1>
        </div>
        <div class="image-content animate slide delay-5" [style.backgroundImage]="'url(' + character?.image + ')'" ></div> 
        <!--  -->
    </div>
    <div class="text">
        <p><img rel="reload" as="image" [src]="character?.image" [alt]="character?.name" class="inset" />
            {{character?.name}}
        </p>
        <br>
        <p>{{ character?.origin?.name }}</p>
        
    </div>
</div>

