@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

html {
  font-family: 'RocknRoll One', sans-serif;
  background-color: #f0eeee;
  scroll-behavior: smooth;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
