<div class="menu-container">
  
    <input type="checkbox" id="openmenu" class="hamburger-checkbox">
    
    <div class="hamburger-icon">
      <label for="openmenu" id="hamburger-label">
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        
      </label>    
    </div>
  
      <div class="menu-pane">
        
        <nav>
          <ul class="menu-links">
            <li><a [routerLink]="['/about']">About</a><span id="QC-info">
              <p>Alexander Angulo</p>
            </span>
            </li>
            <li><a [routerLink]="['/character-list']">Charater</a>
             
            </li>
            <li><a [routerLink]="['/episodes']">Episodes</a></li>
          </ul>        
          
        </nav>
      </div>
    
  </div>